#Archive folder:
ARCH=~/RMS_data/ArchivedFiles
#Folder with extracted files:
CSV=~/RMS_data/CSV

#Folder on YD:
YDfold=/RMS_RU_csv_files
#YD_token:
YDtoken=
#Folder for temporal files:
tempFold=$ARCH/temp

#Enable logging
LOGGING=false
#Folder for logs
LogDir=~/RMS_data/logs/Up_CSVlogs

#Dropbox:
Dxfold=/RMS_RU_csv_files
APP_KEY=
SECRET_KEY=
REFRESH_TOKEN=

line="===================================================================="
